<h1 class="title">Sprites test</h1>
<!--
<div class="col col-md-4 col-sm-6 col-xs-12" ng-repeat="sprite in sprites">
	<div class="center">
		<div class="icon small icon-{{sprite}}"></div>
		<div class="icon medium icon-{{sprite}}"></div>
		<div class="icon icon-{{sprite}} big"></div>
	</div>

	<p>{{sprite}}</p>
</div>
-->
<a href="#" ng-repeat="sprite in sprites" class="icon small icon-{{sprite}} inline-block"></a>
<hr>
<div ng-repeat="sprite in sprites" class="icon medium icon-{{sprite}} inline-block"></div>
<hr>
<div ng-repeat="sprite in sprites" class="icon big icon-{{sprite}} inline-block"></div>

